In [ ]:
pip install yfinance

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting yfinance
  Downloading yfinance-0.1.74-py2.py3-none-any.whl (27 kB)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.21.6)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.3.5)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.11)
Collecting requests>=2.26
  Downloading requests-2.28.1-py3-none-any.whl (62 kB)
     |████████████████████████████████| 62 kB 1.1 MB/s
Requirement already satisfied: lxml>=4.5.1 in /usr/local/lib/python3.7/dist-packages (from yfinance) (4.9.1)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2022.2.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24.0->yfinance) (1.15.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2022.6.15)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.10)
Requirement already satisfied: charset-normalizer<3,>=2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.1.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (1.24.3)
Installing collected packages: requests, yfinance
  Attempting uninstall: requests
    Found existing installation: requests 2.23.0
    Uninstalling requests-2.23.0:
      Successfully uninstalled requests-2.23.0
Successfully installed requests-2.28.1 yfinance-0.1.74

In [ ]:
import yfinance as yf

data = yf.download("SPY",auto_adjust=True)

data

[*********************100%***********************]  1 of 1 completed

                  Open        High         Low       Close    Volume
Date
1993-01-29   25.456188   25.456188   25.329540   25.438095   1003200
1993-02-01   25.456180   25.619013   25.456180   25.619013    480500
1993-02-02   25.600930   25.691392   25.546652   25.673300    201300
1993-02-03   25.709476   25.962772   25.691384   25.944679    529400
1993-02-04   26.035153   26.107523   25.745673   26.053246    531500
...                ...         ...         ...         ...       ...
2022-08-15  424.769989  429.410004  424.709991  428.859985  54048300
2022-08-16  427.730011  431.730011  426.880005  429.700012  59289000
2022-08-17  425.910004  429.500000  424.540009  426.649994  63563400
2022-08-18  426.859985  428.609985  425.500000  427.890015  48902900
2022-08-19  424.980011  425.255005  421.709991  422.989990  31435904

[7444 rows x 5 columns]

# 1. Primer acercamiento a pandas



# para seleccion de filas por numero de fila

.iloc[0]     es la primera

.iloc[-1]    es la ultima

.iloc[-5]    es la quinta desde la ultima a la primera

.iloc[:10]   desde la primera hasta la decima

.iloc[1:10]  desde la segunda hasta la decima

.iloc[-10:]  las ultimas 10

.iloc[-200::5] las ultimas 200 cada 5

In [ ]:
import pandas as pd
#https://pandas.pydata.org

# seleccionar filas
data.loc['2008-01-29']
# data.iloc[-5]


# seleccionar columnas
# data[['Close','High']]
# data.Close

#seleccionar celdas
# data.loc['1993-01-29']['Close']
# data.iloc[-1]['Close']

#filtrado basico
# data.loc[(data.index>'2022-08-01')&(data.index<'2022-08-05')]

#crear nueva variable
# ultimo_año=data.iloc[-252:]
# ultimo_año
#maximo y minimo de columnas
# data.std()

                  Open        High         Low       Close     Volume
Date
2022-06-09  407.579363  409.969034  399.713348  399.713348   86289800
2022-06-16  368.916412  369.344555  362.514045  365.072998  134473300
2022-06-24  381.399994  390.089996  381.369995  390.079987   98050300
2022-07-01  376.559998  381.700012  373.799988  381.239990   74839700
2022-07-11  385.850006  386.869995  383.500000  384.230011   58366900
2022-07-18  388.380005  389.089996  380.660004  381.950012   63203600
2022-07-25  395.750000  396.470001  393.209991  395.570007   53631500
2022-08-01  409.149994  413.410004  408.399994  410.769989   69997500
2022-08-08  415.250000  417.619995  411.829987  412.989990   53886100
2022-08-15  424.769989  429.410004  424.709991  428.859985   54048300

In [ ]:
# Descripcion estadistica de los datos
data.describe()

              Open         High          Low        Close        Volume
count  7444.000000  7444.000000  7444.000000  7444.000000  7.444000e+03
mean    132.790508   133.576010   131.920473   132.796233  8.451935e+07
std     100.793818   101.338461   100.193026   100.811525  9.431394e+07
min      25.130532    25.202898    24.786764    25.130522  5.200000e+03
25%      71.142148    71.754864    70.439643    71.137819  8.784050e+06
50%      93.765981    94.546677    93.123391    93.789677  6.076055e+07
75%     176.941378   178.098427   176.126112   176.956078  1.189880e+08
max     475.681057   476.435454   472.544373   474.182190  8.710263e+08

In [ ]:
# Crear nueva columna

data_galle = yf.download(["GGAL","GGAL.BA"],auto_adjust=True)['Close']
data_galle=data_galle.dropna()
data_galle['CCL']=data_galle['GGAL.BA']*10/data_galle['GGAL']

data_galle

[*********************100%***********************]  2 of 2 completed

                 GGAL     GGAL.BA         CCL
Date
2000-07-26  15.397687    1.585361    1.029610
2000-07-27  15.397687    1.603688    1.041512
2000-07-28  15.287703    1.576197    1.031023
2000-07-31  15.562662    1.603688    1.030472
2000-08-01  15.397687    1.612852    1.047464
...               ...         ...         ...
2022-08-11   7.850000  222.899994  283.949040
2022-08-12   8.070000  230.000000  285.006207
2022-08-16   8.220000  232.399994  282.725044
2022-08-17   8.110000  231.500000  285.450074
2022-08-18   8.165000  238.000000  291.488060

[5347 rows x 3 columns]

In [ ]:
ggal = yf.download("GGAL",auto_adjust=True).dropna()
ggalba= yf.download("GGAL.BA",auto_adjust=True).dropna()

ccl=ggalba*10/ggal

ccl=ccl.dropna().drop(columns=['Volume'])

ccl